.card {
  margin: 0px;
  max-height: 80%;
}

.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

h3 {
  color: #ffffff;
}

.card-text{
  max-height: 50%;
  overflow: auto;
}

img {
 max-width: 50%;
 width: auto;
 max-height: 50%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
}

/*Only for the image in index*/
#EconImage {
  width: 20%;
  height: 20%;
}