.card {
  margin: 0px;
}

.card-container {
  display: grid;
  perspective: 700px;
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

h3 {
  color: #ffffff;
}

img {
 width: 70%;
 height: 50%;
 margin-left: auto;
 margin-right: auto;
}

/*Only for the image in index*/
#EconImage {
  width: 20%;
  height: 20%;
}