@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@font-face {
  font-family: 'Muli-Black';
  src: local('Muli-Black'), url(../fonts/Muli-SemiBold.ttf) format('truetype');
}

.App {
  text-align: center;
}

.screenwidth{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New","Fira Sans",
    monospace;
}

/*@navbar is same color as MLICCI color*/
.navigation {
  background-color: #652264;
  margin-bottom: 30px;
  font-family: Montserrat;
  margin-bottom: 20px;
  /*border: 1px solid teal;*/
  box-shadow: 0 6px 4px -2px rgba(0,0,0,.2);
}

@media only screen and (min-width: 1200px) {
  .navigation {
    height: 90px;
    line-height: 90px;
    font-family: "Open Sans";
  }
}

/*when screen is small, menu is contained in icon and this makes the color white*/
.navbar span.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-nav a {
  display: inline-block;
  text-align: right;
  font-style: italic;

}

.ml-auto > a.nav-link.header.active {
  color: rgba(255, 255, 255, .5);
  font-family: Roboto;
}

.navbar-nav a:hover {
  background-color: #EABD24;
}

.NavbarBrand{
  padding-left: 50px;
  text-align: right;
  letter-spacing: -2px;
  font-weight: 900;
  font-family: "Open Sans";
}

.DataPortal h1{
  font-family: "Fira Sans";
  font-weight: bold;
  letter-spacing: -1.5px;
  margin-top: 15%;
  position: relative;
  text-align: center;
  font-size: 60px;
}

@media only screen and (max-width: 1200px) {
  .NavbarBrand{
    padding-left: 0px;
  }
}

.rowblock {
  padding-top: 20px;
}
