<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
=======
@font-face {
  font-family: 'Muli-Black';
  src: local('Muli-Black'), url(../fonts/Muli-SemiBold.ttf) format('truetype');
}
>>>>>>> ab7c4b27493dca3267ecf80bba70dfaca29c6a9d

.App {
  text-align: center;
}

.screenwidth{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New","Fira Sans",
    monospace;
}

/*@navbar is same color as MLICCI color*/
.navigation{
<<<<<<< HEAD
  background-color: #6d1b6c;
  margin-bottom: 30px;
  font-family: Fira Sans;
=======
background-color: #5a1659;
margin-bottom: 20px;
>>>>>>> ab7c4b27493dca3267ecf80bba70dfaca29c6a9d
}

@media only screen and (min-width: 1200px) {
  .navigation{
    height: 80px;
    line-height: 80px;
  }
}

/*when screen is small, menu is contained in icon and this makes the color white*/
.navbar span.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.navbar-nav a {
  display: inline-block;
  text-align: right;
}

.navbar-nav a:hover {
  background-color: #EABD24;
}

.NavbarBrand{
  padding-left: 50px;
  text-align: right;
  letter-spacing: -2px;
  font-weight: 900;
}

@media only screen and (max-width: 1200px) {
  .NavbarBrand{
    padding-left: 0px;
  }
}