

/* #dropdown-variants-Info {
    background-color: #ffd524;
    border-color: #ffd524;
    color: #6d1b6c;
    font-weight: 600;
    border: 2px solid white;
} */

.dropdown-toggle.btn.btn-info {
    /* background: linear-gradient(45deg, #ffd524 30%, #FF8E53 90%); */
    background-color: #ffd524;
    border-color: #ffd524;
    color: #6d1b6c;
    font-weight: 600;
    border: 2px solid white;

}

button.dropdown-toggle.btn.btn-info:not(:disabled):not(.disabled):active, button.dropdown-toggle.btn.btn-info:not(:disabled):not(.disabled).active, .show > button.dropdown-toggle.btn.btn-info.dropdown-toggle {
    background-color: #6d1b6c;
  border-color: #6d1b6c;
  color: #fff;
}

.dembutton.btn-primary:focus {
    box-shadow: 0 0 0 0;
}

.dembutton.btn-primary:not(:disabled):not(.disabled):active, .dembutton.btn-primary:not(:disabled):not(.disabled).active, .show > .dembutton.btn-primary.dropdown-toggle {
    background-color:#399696;
    border-color: #399696;
    color: white;
}

.available#Men:active {
    background-color:#399696;
    border-color: #399696;
    color: white;
}

.available#Women:active {
    background-color:#399696;
    border-color: #399696;
    color: white;
}

.available#dembutton:active {
    background-color:#399696;
    border-color: #399696;
    color: white;
}

.dembutton.btn.btn-primary {
    width: 95px;
    /* margin-top: 2px; */
    padding: 7px;
    /* line-height: 1; */
    /* margin-top: .5rem; */
    font-size: .75rem;
    border: 2px solid;
    /* border-radius: 0; */

}

.available#dembutton {
    font-weight: bolder;
    /* text-transform: uppercase; */

}

.available#genderbutton {
    font-weight: bolder;
    /* text-transform: uppercase; */

}
/*
.available.btn.btn-primary {
    background-color:transparent;
    color: white;
    border-color: transparent;
} */

.available.btn.btn-primary {
    background-color:transparent;
    color: #399696;
    border-color:#399696;
}

.available.btn.btn-primary:hover {
    background-color:#399696;
    border-color: #399696;
    color: white;
}

.available.selected.btn.btn-primary {
    background-color: #399696;
    border-color: #399696;
    color: white;
}

.unavailable.btn.btn-primary {
    background-color: transparent;
    color: lightgray;
    border-color: lightgray;
    pointer-events:none;

}


 .MuiGrid-container {
     /* margin-top: 5px;
     padding: 2px;
     background-color: purple;  */
    /* border: 2px solid white; */
}

div.btn-toolbar {
    margin-bottom: 10px;
}


.MuiGrid-item {
    /* border-right: 1px solid white; */
    border-bottom: 3px solid white;
}

.fab {
  margin: 0px;
  top: 0;
  right: 0px;
  bottom: 0px;
  left: 'auto';
  position: 'fixed';
}

svg.MuiSvgIcon-root {
    font-size: 2.5rem;
}

svg.MuiSvgIcon-root.MuiSvgIcon-colorPrimary path {
    fill: purple;
}

button.MuiButtonBase-root {
    display: flex;
    /* position: fixed; */
    /* margin-top: -10px; */
    right: 10px;

}
span.MuiIconButton-label {
    display: block;

}

.MuiIconButton-label p {
    font-size: 12px;
}

.MuiGrid-root.Race, .Everyone {
    border-bottom: 1px dashed teal;
    /* margin-bottom: 2px; */
    padding-bottom: 2px;
}

.MuiGrid-root.Gender, .Everyone {
    border-right: 1px dashed teal;
}

.MuiGrid-root.Gender, .RaceGender {
    padding-top: 5px;
}
/* .Race .MuiGrid-item {
    border-right: 1px solid white;
}

.Gender .MuiGrid-item {
    border-bottom: 1px solid white;
}

.RaceGender .MuiGrid-item {
    border-right:1px solid white;
    border-bottom: 1px solid white;
} */

/* .MuiGrid-item {
    background-color: purple;
    border-radius: 2px;
    border-left: 1px solid white;
} */

/* .MuiGrid-item:hover {
    background-color:white;
    color: purple;
} */
/* Container { background-color: lightpink; } */
