

#dropdown-variants-Info {
    background-color: #ffd524;
    border-color: #ffd524;
    color: #6d1b6c;
    font-weight: 600;
    border: 2px solid white;
}

.dropdown-toggle.btn.btn-info {
    background-color: #ffd524;
    border-color: #ffd524;
    color: #6d1b6c;
    font-weight: 600;
    border: 2px solid white;

}

button.dropdown-toggle.btn.btn-info:not(:disabled):not(.disabled):active, button.dropdown-toggle.btn.btn-info:not(:disabled):not(.disabled).active, .show > button.dropdown-toggle.btn.btn-info.dropdown-toggle {
    background-color: #6d1b6c;
  border-color: #6d1b6c;
  color: #fff;
}

.dembutton.btn-primary:focus {
    box-shadow: 0 0 0 0;
}

.dembutton.btn-primary:not(:disabled):not(.disabled):active, .dembutton.btn-primary:not(:disabled):not(.disabled).active, .show > .dembutton.btn-primary.dropdown-toggle {
    background-color:#d07eda;
    border-color: #d07eda;
    color: white;
}

.available#Men:active {
    background-color:#d07eda;
    border-color: #d07eda;
    color: white;
}

.available#Women:active {
    background-color:#d07eda;
    border-color: #d07eda;
    color: white;
}

.available#dembutton:active {
    background-color:#d07eda;
    border-color: #d07eda;
    color: white;
}

.dembutton.btn.btn-primary {
    width: 95px;
    /* margin-top: 2px; */
    padding: 7px;
    /* line-height: 1; */
    /* margin-top: .5rem; */
    font-size: .75rem;
    /* border-radius: 0; */

}

.available#dembutton {
    font-weight: bolder;
    /* text-transform: uppercase; */

}

.available#genderbutton {
    font-weight: bolder;
    /* text-transform: uppercase; */

}
/*
.available.btn.btn-primary {
    background-color:transparent;
    color: white;
    border-color: transparent;
} */

.available.btn.btn-primary {
    background-color:transparent;
    color: purple;
    border-color: purple;
}

.available.btn.btn-primary:hover {
    background-color:#d07eda;
    border-color: #d07eda;
    color: white;
}

.available.selected.btn.btn-primary {
    background-color: #d07eda;
    border-color: #d07eda;
    color: white;
}

.unavailable.btn.btn-primary {
    background-color: transparent;
    color: lightgray;
    border-color: lightgray;
    pointer-events:none;

}


 .MuiGrid-container {
     /* margin-top: 5px;
     padding: 2px;
     background-color: purple;  */
    /* border: 2px solid white; */
}

div.btn-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}


.MuiGrid-item {
    /* border-right: 1px solid white; */
    border-bottom: 3px solid white;
}

.iconbutton {
  /* margin: 0px; */
  /* top: 'auto'; */
  padding: 2px;
  color: transparent;
  background-color: transparent;
  border-color: transparent;
  padding-right: 15px;
  /* bottom: 20px; */
  /* left: 'auto'; */
  /* position: 'fixed'; */
}

svg.MuiSvgIcon-root.MuiSvgIcon-colorPrimary path {
    fill: #6d1b6c;
}

.demobutton {
    margin-top: 20px;
    height: 20px;
}
/* .Race .MuiGrid-item {
    border-right: 1px solid white;
}

.Gender .MuiGrid-item {
    border-bottom: 1px solid white;
}

.RaceGender .MuiGrid-item {
    border-right:1px solid white;
    border-bottom: 1px solid white;
} */

/* .MuiGrid-item {
    background-color: purple;
    border-radius: 2px;
    border-left: 1px solid white;
} */

/* .MuiGrid-item:hover {
    background-color:white;
    color: purple;
} */
/* Container { background-color: lightpink; } */

.relatedinfo.card > .card-body {
    background-color: #ffd524;;
    color: #6d1b6c;
    padding: 0 10;
    /* text-decoration: underline; */

}

.relatedinfo > .card-body > p {
    margin: 0 2rem;
}
.relatedinfo > .card-text:last-child {
    margin-bottom: .75rem;
}

.relatedinfo.card > .card-body:hover {
    background-color: #ffd524;
    border-color: #6d1b6c;
    color: #6d1b6c;
    
}

