#EconImage {
    width: 20%;
    height: 20%;
  }


.page-section {
  text-align: left;
}

.section h1,h2 {
  text-align: left;
}


.econindex h1{
    /* text-align: left; */
    font-size: 40px;
  }

.econindex p{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;
  }
.info_section{
    /* margin: 100px 150px 0px 0px; */
    margin: 20px auto;
}

.info_section h1{
  /* text-align: left; */
  font-size: 30px;
}

.info_section h3{
  text-align: left;
  font-size: 20px;
}

.imgsize{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.tabsformat{
  /* display: inline-flex; */
  /* text-align: left; */
  margin-top: 15px;
}

.nav-tabs {
  margin-top: 30px;
  justify-content: center;
}

.tab-content{
  margin: 0 auto;
  margin-top: 30px;
  width: 70%;
  justify-content: center;
}

  .value h4, .section h4 {
    font-size: 44px;
  }

  .singleslider {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .arrowicon {
    justify-content: center;
  }

  hr.MuiDivider-root {
    height: 4px;
    margin-top: 30px;
  }

  /* .map {
    height: 485px;
    border: 2px solid purple;
  } */

  .indexdesc {
    height: 475px;
    /* display: flex; */
    /* justify-content: left; */
    text-align: left;
  /* justify-content: center; */
  /* align-self: center;    <---- REMOVE */
  /* align-items: center;  */
  margin-top: 10px;
  }

  .vars.value h4 {
    font-size: 40px;
  }

  .race .singleslider {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .subheading h3 {
    font-size: 24px;
  }

  .section ul {
    margin-top: 20px;
    /* width: 80%; */
  }

  .section li {
    margin-bottom: 25px;
  }

  .scrollspy {
    position: fixed;
    top: 100px;
    left: 100px;
    justify-content: center;
    /* margin: 0 auto; */
    /* left: 20px; */
  }

  /* #list-example 
    {
      position: fixed;
      top: 80px;
  }

  .scrollspy-example {
    overflow-y: scroll;
    position: relative;
    height: 100%;
  } */
  