#EconImage {
    width: 20%;
    height: 20%;
  }

.econindex h1{
    text-align: left;
    font-size: 40px;
  }

.econindex p{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;
  }