@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");

#EconImage {
    width: 20%;
    height: 20%;
  }


.page-section {
  text-align: left;
}

.section h1,h2 {
  text-align: left;
}


.econindex h1{
    text-align: left;
    font-size: 40px;
    margin-top: 20px;
    font-family: "Open Sans";
  }

.econindex p{
    text-align: justify;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: "Open Sans";
  }
.info_section{
    /* margin: 100px 150px 0px 0px; */
    margin: 20px auto;
}

.info_section h1{
  /* text-align: left; */
  font-size: 30px;
}

.info_section h3{
  text-align: left;
  font-size: 20px;
}

.imgsize{
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.tabsformat{
  /* display: inline-flex; */
  /* text-align: left; */
  margin-top: 15px;
}

.nav-tabs {
  margin-top: 30px;
  /* justify-content: center; */
}

.tab-content{
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
  justify-content: center;
}

.tab-content h5 {
 margin-top:15px;
}
  .value h4 {
    font-size: 44px;
  }

  .section h4 {
  font-size: 36px;
}
  .singleslider {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .arrowicon {
    justify-content: center;
  }

  hr.MuiDivider-root {
    height: 4px;
    margin-top: 30px;
  }

  /* .map {
    height: 485px;
    border: 2px solid purple;
  } */

  .indexdesc {
    /* height: 475px; */
    /* display: flex; */
    /* justify-content: left; */
    text-align: left;
  /* justify-content: center; */
  /* align-self: center;    <---- REMOVE */
  /* align-items: center;  */
  margin-top: 10px;
  }

  .vars.value h4 {
    font-size: 40px;
  }

  .race .singleslider {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .subheading h3 {
    font-size: 24px;
  }

  .row h6 {
    margin-top: 15px;
    text-align: left;

  }

  .section ul {
    margin-top: 20px;
    /* width: 80%; */
  }

  .section li {
    margin-bottom: 25px;
  }

  .scrollspy {
    position: fixed;
    top: 180px;
    /* left: 100px; */
    justify-content: center;
    /* margin: 0 auto; */
    left: -5px;
  }

  .scrollspy ul {
    list-style-type:none;
    text-align: left;
  }

  .scrollspy li {
    padding: 2px;
    /* background-color: teal; */
    margin: 5px 0;
    font-weight: bold;
  }

  .scrollspy a, .scrollspy a:hover {
    color: teal;
    font-family: "Fira Sans";
  }

  .anchor {
    position: relative;
  }
  .anchor a {
    position: absolute;
    left: 0px;
    top: -90px;
  }

  .indexheader {
    margin-top: 15px;
    padding: 5px 20px;

    /* width: 60%; */
  }

  .indexheader h1{
    margin-top: 0px;
    margin-left: 0;
    font-size: 30px;
    text-align: center;
  }
  /* #list-example
    {
      position: fixed;
      top: 80px;
  }

  .scrollspy-example {
    overflow-y: scroll;
    position: relative;
    height: 100%;
  } */

  .indexracedesc p {
    font-size: 14px;
    text-align: left;
  }

  .indexracedesc {
    margin-top: 60px;
    margin-left: 20px;
    /* margin-left: 40px; */
  }

  .titles {
    font-family: "Oswald";
  }
