@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Spectral&display=swap');

.homescreen{
  overflow: hidden;
  background-color: #eeeeee;
  margin-top: -20px;
}

.rectangle{
  display: inline-block;
  position:absolute;
  align: left;
  margin-left: -55%;
  /* margin-bottom: 10%; */
  width: 600px;
  height: 715px;
  background-color: #642563;
  overflow: hidden;
  /* border-bottom: 5px solid gray; */
}

mark.yellow {
  margin-left: -20%;
  color: #eabd24;
  background: none;
}

.image{
  display: inline-block;
  position: relative;
  margin-top: 3%;
  margin-left: -29%;
  margin-bottom: 3.75%;
  /* border: 3px solid teal; */

  /* box-shadow: -70px 60px 220px rgba(0, 0, 0, 0.32); */
}

#HomeBanner{
  width: 650px;
  height: 600px;
}

div.carousel-item img {
  width: 650px;
  height: 600px;
}

div.carousel-caption {
  background-color:  #eabd24 !important;
  padding: 2px;
  /* color: teal; */
  font-weight: bold;
}

.bannerwords{

  display: inline-block;
  margin-left: 10%;
  width: 100px;
  color: #000000;
  font-family: "Fira Sans";
  font-weight: 900;
  font-size: 90px;
  line-height: 75%;
  letter-spacing: -1.5px;
  position: absolute;
  left: 55%;
  top: 30%;
  text-align: right;

  /* text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15); */
}

.page-section {
  /* border-top: 3px solid #642563; */
}
.page-section.first {
  background-color: white;
  color: #6c757d;
}

.page-section.second{
  background-color: #642563;
  color: #FFFFFF;
}

/* .page-section {
  background-color: white;
} */
.introduction {
  /* margin: 0px 150px 0px 150px;
  padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 150px;
  font-family: 'Roboto';
}

#services {
   margin: 0px 150px 0px 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Roboto';
}

#services div.introduction {
  padding-bottom: 0px;
}

.first h1 {
  color: teal;
}

.introduction h1{

  font-family: "Fira Sans";
  font-weight: bold;
  letter-spacing: -1.5px;
  /* margin-top: 15%; */
  position: relative;
  text-align: center;
  font-size: 60px;
}

.introduction h2{

  letter-spacing: -1.5px;
  font-weight: bold;
  margin-top: -5%;
  font-family: "Fira Sans";
  position: relative;
  text-align: center;
  font-size: 60px;
}

.introduction p{
  position: relative;
  text-align: justify;
  font-size: 15px;
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto';
  padding: 10px;
  margin-top: 30px;
}

.introduction p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.Howto{
  text-align: justify;
  position: relative;
  margin-left: 160px;
  width: 89%;
}

.container{
  margin-bottom: 10%;
}
.introduction div.container {
  margin-bottom: 0%;
}

#div1{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div2{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div3{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

.service-heading {
  font-size: 30px;
  color: #671e65;
  font-weight: 900;
  font-family: "Fira Sans";
  margin: 15px 0;
  text-transform: none;
}

.statistics_num {
  font-size: 80px;
  color: #FFFFFF;
  font-weight: 900;
  font-family: "Fira Sans";
  margin: 15px 0px 15px;
  text-transform: none;
}

#FeatureLogo{
  margin-top: -20%;
  width: 45%;
  height: 45%;
}

#video{
  width: 90%;
  height: 90%;
  margin-top: 20px;
  margin: auto;
  display: flex;
  box-shadow: 0 4px 8px 0 white, 0 6px 8px 0 white;
}

.text-muted-home{
  margin-left:12%;
  margin-top:10%;
  width:75%;
  font-family: "Roboto";
  color: white !important;
}

.carousel_caption h3{
  color: #00000;
}

.video-demo{
  margin-top: 80px;
}
