@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Spectral&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.homescreen{
  overflow: hidden;
  /*background-color: #eeeeee;*/
  background-color: #642563;
  margin-top: -20px;
}

.rectangle{
  display: inline-block;
  position:absolute;
  align: left;
  margin-left: -55%;
  /* margin-bottom: 10%; */
  width: 600px;
  height: 700px;
  background-color: #642563;
  overflow: hidden;
  /* border-bottom: 5px solid gray; */
}

mark.yellow {
  margin-left: -20%;
  color: #eabd24;
  background: none;
}


.image{
  display: inline-block;
  position: relative;
  margin-top: 3%;
  margin-left: -29%;
  margin-bottom: 3.75%;
  border: 3px solid teal;

  /* box-shadow: -70px 60px 220px rgba(0, 0, 0, 0.32); */
}

#HomeBanner{
  /*width: 650px;*/
  /*height: 600px;*/
  width: 100%;
  height: 80%;

}

.banner{
  align: left;
  text-align: center;
  filter: brightness(50%);
}

.bannerwords{

  display: inline-block;
  margin-left: 2%;
  /*width: 100px;*/
  color: #FFFFFF;
  /*font-family: "Fira Sans";*/
  font-family: "Oswald";
  font-weight: 1000;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 1.5px;
  position: absolute;
  left: 20%;
  top: 45%;
  text-align: center;

  /* text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15); */
}

.bannercaption{
    display: inline-block;
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 100;
    top: 60%;
    left: 30%;
    position: absolute;
}

.button1{
  color: White;
  background-color: #000000;
  transition-duration: 0.4s;
}

.button1:hover{
  background-color: #642563;
  color: White;
}

.page-section {
  /* border-top: 3px solid #642563; */
}
.page-section.first {
  background-color: white;
  color: #6c757d;
}

.page-section.second{
  background-color: #642563;
  color: #FFFFFF;
}

/* .page-section {
  background-color: white;
} */
.introduction {
  /* margin: 0px 150px 0px 150px;
  padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 150px;
  font-family: 'Open Sans';
}

#services {
   margin: 0px 150px 0px 150px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Roboto';
}

#services div.introduction {
  padding-bottom: 0px;
}

.first h1 {
  color: teal;
}

.introduction h1{

  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: -1.5px;
  /* margin-top: 15%; */
  position: relative;
  text-align: center;
  font-size: 60px;
}

.introduction h2{

  letter-spacing: -1.5px;
  font-weight: bold;
  margin-top: -5%;
  font-family: "Fira Sans";
  position: relative;
  text-align: center;
  font-size: 60px;
}

.introduction p{
  position: relative;
  text-align: justify;
  font-size: 15px;
  text-align: center;
  font-size: 50px;
  font-family: 'Roboto';
  padding: 10px;
  margin-top: 30px;
}

.introduction p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

.Howto{
  text-align: justify;
  position: relative;
  margin-left: 160px;
  width: 89%;
}

.container{
  margin-bottom: 10%;
}

#div1{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div2{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div3{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

.service-heading {
  font-size: 30px;
  color: #671e65;
  font-weight: 900;
  font-family: "Fira Sans";
  margin: 15px 0;
  text-transform: none;
}

.statistics_num {
  font-size: 80px;
  color: #FFFFFF;
  font-weight: 900;
  font-family: "Fira Sans";
  margin: 15px 0px 15px;
  text-transform: none;
}

#FeatureLogo{
  margin-top: -20%;
  width: 45%;
  height: 45%;
}

#video{
  width: 90%;
  height: 90%;
  margin-top: 20px;
  margin: auto;
  display: flex;
  /*box-shadow: 0 4px 8px 0 white, 0 6px 8px 0 white;*/
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3) , 0 6px 20px 0px rgba(0, 0, 0, 0.7);
}

.text-muted{
  margin-left:12%;
  margin-top:10%;
  width:75%;
  font-family: "Roboto";
}

.carousel_caption h3{
  color: #00000;
}

.carousel{
  width: 600px;
  height: 600px;
}

.video-demo{
  margin-top: 80px;
}

.image1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Arrow css */

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
