@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Spectral&display=swap');
@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.homescreen{
  overflow: hidden;
  /*background-color: #eeeeee;*/
  background-color: #642563;
  margin-top: -20px;
}

.rectangle{
  display: inline-block;
  position:absolute;
  align: left;
  margin-left: -55%;
  /* margin-bottom: 10%; */
  width: 600px;
  height: 715px;
  background-color: #642563;
  overflow: hidden;
  /* border-bottom: 5px solid gray; */
}

mark.yellow {
  margin-left: -20%;
  color: #eabd24;
  background: none;
}


.image{
  display: inline-block;
  position: relative;
  margin-top: 3%;
  margin-left: -29%;
  margin-bottom: 3.75%;
  /* border: 3px solid teal; */

  /* box-shadow: -70px 60px 220px rgba(0, 0, 0, 0.32); */
}


/* .tealbutton {
  color: #fff;
  background-color: teal;
  border-color: teal;
} */

#HomeBanner{
  /*width: 650px;*/
  height: 800px;
  width: 100%;
  object-fit: cover;
  /* height: 50%; */

}

/* this code has no effect on the visual */
/* #carousel {
    width: 650px;
  height: 600px;
} */

.banner{
  /* align: left; */
  text-align: center;
  filter: brightness(50%);
  position: relative;
  text-align: center;
}

div.carousel-item img {
  width: 650px;
  height: 600px;
}

img {
  width: 45%;
  height: auto;
}

div.carousel-caption {
  background-color:  #eabd24 !important;
  /* padding: 2px; */
  /* color: teal; */
  font-weight: bold;
}

.bannerwords{

  display: inline-block;
  /* margin-left: 2%; */
  /*width: 100px;*/
  color: #FFFFFF;
  /*font-family: "Fira Sans";*/
  
  position: absolute;
  left: 0%;
  right: 0%;
  top: 35%;
  width: 100%; /*changed this from 90% to 100% to fix mobile view*/
  text-align: center;
  justify-content: center;

  /* text-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15); */
}

.bannerwords h1{
  font-family: "Oswald";
  font-weight: 1000;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 1.5px;
}

@media only screen and (min-width: 750px) {
  .bannerwords {
   top: 45%;
   width: 100%;
  }
}

.bannerwords p{
    display: inline-block;
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 100;
    /* top: 60%;
    left: 30%;
    position: absolute; */
}

/* .yellow {
  color: #ffd524;
} */


/* doesn't seem to do anything */
.bottom-spacing{
  margin-bottom: 15%;
}

.button1{
  color: White;
  background-color: #000000;
  transition-duration: 0.4s;
}

.button1:hover{
  background-color: #642563;
  color: White;
}

.page-section {
  /* border-top: 3px solid #642563; */
}
.page-section.first {
  background-color: white;
  color: #6c757d;
}

.page-section.second{
  background-color: #642563;
  color: #FFFFFF;
}

.second p {
  text-align: center !important;
}

/* .page-section {
  background-color: white;
} */

/* used to be padding by pixels, changed it to percent for mobile view */
.introduction {
  /* margin: 0px 150px 0px 150px;
  padding-top: 50px;
  padding-bottom: 50px; */
  padding: 5% 10%;
  /* padding: 50px 150px; */
  font-family: 'Open Sans';
}

/* removed padding bottom and top because there is too much - only affects features section of Home */
#services {
  /* removed the margin to adjust the view for mobile - for features section */
  /* margin: 0px 150px 0px 150px; */
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  font-family: 'Roboto';
}

#services div.introduction {
  padding-bottom: 0px;
}

.first h1 {
  color: teal;
}

.introduction h1{

  font-family: "Oswald";
  font-weight: bold;
  letter-spacing: -1.5px;
  /* Removed to make the space above the text shorter. */
  /* margin-top: 7%; */
  position: relative;
  text-align: center;
  font-size: 60px;
}

.introduction h2{

  letter-spacing: -1.5px;
  font-weight: bold;
  margin-top: -5%;
  font-family: "Fira Sans";
  position: relative;
  text-align: center;
  font-size: 60px;
}

.introduction p{
  position: relative;
  text-align: justify;
  font-size: 15px;
  text-align: left;
  font-size: 50px;
  font-family: 'Roboto';
  padding: 10px;
  margin-top: 30px;
}

.introduction p{
  font-size: 20px;
  /* removed because it was too much */
  /* margin-bottom: 50px; */
}

.Howto{
  text-align: justify;
  position: relative;
  margin-left: 160px;
  width: 89%;
}

.container{
  margin-bottom: 10%;
}
.container p {
  text-align: left;
}

.introduction div.container {
  margin-bottom: 0%;
}

#div1{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div2{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

/* added - testing */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#div3{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

.service-heading {
  font-size: 30px;
  color: #671e65;
  font-weight: 900;
  font-family: "Fira Sans";
  margin: 15px 0;
  text-transform: none;
}

.statistics_num {
  font-size: 80px;
  color: #FFFFFF;
  font-weight: 900;
  font-family: "Fira Sans";
  margin: 15px 0px 15px;
  text-transform: none;
}

/* this makes the image too small on the mobile view - only affects features section on Home */
#FeatureLogo{
  /* margin-top: -20%; */
  /* width: 90%;
  height: 90%; */
}

/* changed width and height from 90% to 100 %*/
#video{
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin: auto;
  display: flex;
  /*box-shadow: 0 4px 8px 0 white, 0 6px 8px 0 white;*/
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.3) , 0 6px 20px 0px rgba(0, 0, 0, 0.7);
}

.text-muted-home{
  margin-left:12%;
  margin-top:10%;
  width:75%;
  font-family: "Roboto";
  color: white !important;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.d-block{
}

/* was trying something new out - can be ignored */
/* .carousel-control-prev, .carousel-control-next{
  color:#000000;
}
.carousel-control-prev-icon{
  background-image: "../pictures/";
} */

.carousel_caption h3{
  color: #000000;
}

/* a fixed pizel size does not cater well to responsivenss on web and mobile views */
/* .carousel{
  width: 600px;
  height: 600px;
} */

.carousel-inner {   
  margin: auto; 
}

.demobottom{
  padding-bottom: 0px;
}

/* padding applied to the bottom of the text descriptions in Video Demo section for when screen is too small */
.textbottom{
  padding-bottom: 5%;
}

/* to seperate the spacing for the second and third video demos.*/
.video-demo{
  margin-top: 80px;
}

.image1{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Arrow css */

i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
