@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway|Spectral&display=swap');

.homescreen{
  overflow: hidden;
  margin-top: -30px;
  margin-bottom: 100px;
}

#HomeBanner{
    width: 100%;
}

.banner{
  position: relative;
  text-align: center;
}

.bannerwords{
  position: absolute;
  left: 4%;
  top: 50%;
  color: white;
  font-weight: bold;
  font-size: 10vw;
  white-space: nowrap;
  background: rgba(109, 27, 108, 0.5);
  font-family: 'Raleway';
}

.homebutton{
  width: 65%;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 60px;
}

.introduction{
  margin: 50px 150px 0px 150px;
  font-family: 'Raleway';
}

.introduction h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Raleway';
  font-weight: bold;
  padding: 30px;
}

.introduction p{
  text-align: justify;
  font-size: 20px;
  margin-bottom: 30px;
}

.Howto{
  position: relative;
  margin-left: 160px;
  width: 89%;
}

#div1{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div2{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

#div3{
  width: 65%;
  max-height: 250px;
  overflow: auto;
  text-align: justify;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#FeatureLogo{
  width: 55%;
  height: 55%;
}
