.bar {
  fill: #63053d;
z-index: 30;
}

.circle {
  fill: #63053d;
}

.circle:hover {
  fill-opacity: .7;
  /* fill: yellow; */
  stroke: yellow;
  stroke-width: 3px; 
}
.bar:hover {
  fill-opacity: .7;
}

path {
  fill: steelblue;
}

.maptitle h2 {
  font-size: 20px;
  text-decoration: underline;
  font-family: "Roboto";
}

#button1:hover, #button2:hover {
  fill-opacity: .7;
}

.counties {
  stroke: white;
  stroke-width: 1;
}

/* .counties:hover {
  stroke-width: 6px;
  stroke: yellow;

} */

.testpaths {
  stroke: white;
  stroke-width: 1;
}

.title, .subtitle, .comment {
  color: #111; font-family: 'Helvetica Neue', sans-serif;
 font-weight: bold; letter-spacing: -1px;
  line-height: 1;;
}

.labels {
  font-size: 12px;
}

.title {
  font-size: 40px;

}
.subtitle { 
  font-size: 20px;
}

.comment {
  font-size: 15px;
}


div.tooltip, div.demtooltip {   
  position: absolute;           
  text-align: center;           
  /* width: 60px;                   */
  /* height: 60px;                  */
  padding: 10px;             
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none; 
  background: black;
  color: white;
  /* border: 2px solid purple; */
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.25;
  font-size: 15px;
  /* font-weight: bold; */
  /* stroke-width: 2px;   */
}

div.demtooltip {
  line-height: 1;
  font-size: 13px;
  text-align: left;
}

table {
  margin-top: 5px;
}

/* Creates a small triangle extender for the tooltip */
div.arrow, div.demarrow {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.9);
  content: "\25BC";
  position: absolute;
  text-align: center;
  transform: rotate(45deg);
}


 .axis {
   font-size: 18px;
   font-family: "Futura", medium, sans-serif;
}

.axis path,
        .axis line {
            fill: none;
            display: none;
        }

.axis--x {
  font-size: 18px;
  font-family: "Futura", medium, sans-serif;
}

.axis--x path,
        .axis--x line {
            fill: none;
        }

.axis--y {
  font-size: 18px;
  font-family: "Futura", medium, sans-serif;
}

.axis--y line {
  stroke: lightgrey;
  shape-rendering: crispEdges;
}
.axis--y path {
  fill: none;
  stroke-width: 0;
}

.axis--x line {
  stroke: lightgrey;
  shape-rendering: crispEdges;
}

.axis--x path {
  stroke-width: 0;
}
        
.headerdiv {
/* background-color: rgba(185, 142, 167, 0.5); */
background-color: #6d1b6c;
padding: 10px 30px;
/* margin: 0 auto; */
display: table;
margin-left: -15px;

}

.headerdiv h1 {
  font-size: 30px;
  text-align: left;
  margin-left: 15px;
  color: white;
  font-family: Muli-Black;
}

.maptitle {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  
}

.maptitle h1{
  font-size: 20px;
  text-decoration: underline;
  
}

.description p {
  text-align: left;
}

.distribution {
  /* border: 6px solid rgba(185, 142, 167, .5); */
  /* background: #DCDCDC; */
  /* border: 2px solid #6d1b6c; */

}

.mapclass {
   /* border: 6px solid rgba(185, 142, 167, 0.5);  */
  /* background: #DCDCDC; */
  /* height: 70vh; */

}

.distexplanation {
  text-align: left;
  padding-top: 20px;
  margin-left: 2%;
}

.dotmap {
  margin-right: 2% !important;
}

.demmapclass1, .demmapclass2, .demmapclass3 {
  border-left: 2px dashed rgba(185, 142, 167, 0.5);
  /* background: #DCDCDC; */

}

.demmaps {
  margin-bottom: 10%;
}

.demmapscontainer {
  width: 90%;
  margin: 0 auto;
}

.demmapscontainer svg.legend {
 margin-bottom: 5%;
}
div.legend {
  /* border: 6px solid rgba(185, 142, 167, 0.5); */
}

.tablemap {
  /* border: 6px solid rgba(185, 142, 167, 0.5);
  background: #DCDCDC; */
  /* border-left: 2px solid #6d1b6c; */
}

.top10title {
  padding-top: 10px;
}

.top10header {
  text-align: center;
  font-size: 20px;
  text-decoration: underline;
}

.dotplottitle {
  padding-top: 10px;
}

.dotplotheader {
  text-align: center;
}

.rowblock {
  padding-top: 20px;
}


/* .legendimage 
{
  width: 30% !important;
} */

.legendimage img {
  width: 30%;
}