.bar {
  fill: #63053d;
z-index: 30;
}

.circle {
  fill: #63053d;
}

.circle:hover {
  fill-opacity: .7;
}
.bar:hover {
  fill-opacity: .7;
}

path {
  fill: steelblue;
}

#button1:hover, #button2:hover {
  fill-opacity: .7;
}

.counties {
  stroke: white;
  stroke-width: 1;
}

.counties:hover {
  fill-opacity: .7;
}

.testpaths {
  stroke: white;
  stroke-width: 1;
}

.title, .subtitle, .comment {
  color: #111; font-family: 'Helvetica Neue', sans-serif;
 font-weight: bold; letter-spacing: -1px;
  line-height: 1;;
}

.labels {
  font-size: 12px;
}

.title {
  font-size: 40px;

}
.subtitle { 
  font-size: 20px;
}

.comment {
  font-size: 15px;
}

rect.test {
  fill: black;
}


.tooltiptext, .name, .value {
  position: relative;
}


 .axis {
   font-size: 18px;
   font-family: "Futura", medium, sans-serif;
}

.axis path,
        .axis line {
            fill: none;
            display: none;
        }

.axis--x {
  font-size: 18px;
  font-family: "Futura", medium, sans-serif;
}

.axis--x path,
        .axis--x line {
            fill: none;
        }

.axis--y {
  font-size: 18px;
  font-family: "Futura", medium, sans-serif;
}

.axis--y path {
  fill: none;
}
        
.description {
background-color: rgba(185, 142, 167, 0.5);
padding: 20px;
}

.description h1 {
  font-size: 30px;
}

.description p {
  text-align: left;
}

.mapclass {
  border: 6px solid rgba(185, 142, 167, 0.5);
  background: #DCDCDC;

}


.mapclass2 {
  border: 6px solid rgba(185, 142, 167, 0.5);
  background: #DCDCDC;

}


.tablemap {
  border: 6px solid rgba(185, 142, 167, 0.5);
  background: #DCDCDC;

}

.top10title {
  padding-top: 10px;
}

.top10header {
  text-align: center;
}

.dotplottitle {
  padding-top: 10px;
}

.dotplotheader {
  text-align: center;
}

.rowblock {
  padding-top: 20px;
}

.distribution {
  border: 6px solid rgba(185, 142, 167, .5);
  background: #DCDCDC;

}