.method h1{
    text-align: left;
    font-size: 40px;
  }
  
.method p{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;
  }

.methodbuttons {
    margin-bottom: 50px;
}

a.methodbutton {
  margin-left: 10px;
  margin-right: 10px;
}