@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.ohtop{
  /* background-color: #d4a45c; */
  margin-top: -30px;
}

.ohbutton{

    font-family: "Roboto";
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: 20px;
    margin-right: 20px;
    width: 20%;
    background-color: #6d1b6c;
}

.ohtop h1{
    font-family: "Fira Sans";
    font-weight: bold;
    letter-spacing: -1.5px;
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
}

.ohtop p{
    font-family: "Roboto";
    margin-left: 10%;
    text-align: center;
    padding-bottom: 20px;
    width: 80%;
}

.oh p {
    font-family: "Roboto";
    font-size: 15px;
}

.oh h3{
    font-family: "Fira Sans";
    text-align: left;
    font-size: 30px;
}

