.ohbutton{
    margin-bottom: 20px;
    width: 45%;
}

.oh h1{
    text-align: left;
    font-size: 40px;
  }

.oh h5{
    text-align: left;
    font-size: 30px;
}
  
.oh p{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;
  }