@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#Topic-Image {
    width: auto;
    max-height: 230px;
    height: auto;
    float: left;
 }

 .Quote-Container {
 	overflow: auto;
    height: auto;
 }
 
.rightcolumn{
    margin-right: 0
}

 #topicrow {
     margin-bottom: 30px;
 }

 #buttonrow{
     font-family: "Fira Sans";
     position: absolute;
     bottom: 0;
     right: 20px;
 }

 .topicbutton {
    margin: 5px;
 }

 #personblock {
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: -10px;
 }

 .initial{
    color: purple;
    font-size: 420%;
}

#fullname {

    font-family: "Fira Sans";
    font-weight: 900;
    font-size: 16px;
    color: #000000;
    font-size: 1em;
    color: purple;
    text-align: left;
}