#Topic-Image {
    width: auto;
    max-height: 230px;
    height: auto;
    float: left;
 }

 .Quote-Container {
 	overflow: auto;
    height: auto;
 }
 
.rightcolumn{
    margin-right: 0
}

 #topicrow {
     margin-bottom: 30px;
 }

 #buttonrow{
     position: absolute;
     bottom: 0;
     right: 20px;
 }

 .topicbutton {
    margin: 5px;
 }

 #personblock {
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: -10px;
 }

 .initial{
    color: purple;
    font-size: 500%;
}

#fullname {
    font-size: 18px;
    color: purple;
    text-align: left;
}