@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#Topic-Image {
    width: auto;
    max-height: 230px;
    height: auto;
    float: left;
 }

 .Quote-Container {
 	overflow: auto;
    height: auto;
 }

 h1 {
     font-family: "Fira Sans";
     /* padding-bottom:20px; */
 }
 
.rightcolumn{
    margin-right: 0
}

 #topicrow {
 }

 #buttonrow{
     margin-bottom: -30px;
     font-family: "Fira Sans";
     position: absolute;
     bottom: 0;
     right: 20px;
 }

 .topicbutton {
     font-family: "Fira Sans";
     /* text-transform: uppercase; */
     font-size: 10px;
     font-weight: 900;
     margin: 5px;
     margin-bottom:40px;
 }

 #personblock {
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: -10px;
 }

 .initial{
     font-family: "Fira Sans";
    color: purple;
    font-size: 420%;
     padding-left: 100px;
}

#fullname {

    font-family: "Fira Sans";
    font-weight: 900;
    font-size: 16px;
    color: #000000;
    font-size: 1em;
    color: purple;
    text-align: left;
    padding-left: 100px;
}