#Topic-Image {
    width: auto;
    max-height: 200px;
    height: auto;
    float: left;
 }

 .Quote-Container {
 	overflow: auto;
 	max-height: 50px;
 	height: auto;
 }
 
 .Section {
     margin: 10px;
 }