.import1 {
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: #d4a45c;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#speakername {
    display: inline;
    text-align: left;
}

.selected {
    color: blue;
    font-weight: bold;
}

.transcriptcontent {
    text-align: left;
    margin:0;
    padding: 0;
}

.transcriptbutton{
    margin: 5px;
    margin-bottom: 30px;
}

#transcriptquotes{
    margin-left: 50px;
}

#personbio{
    text-align: justify;
}

#transcriptpic{
    max-width: 180px;
    overflow: hidden;
}

.ohpersonrow{
    margin-bottom: 30px;
}

#annotation{
    background-color: yellow;
    padding-left: 0;
    padding-right: 0;
}