@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.import1 {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    color: #d4a45c;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.h1{

    font-family: "Fira Sans";
}
#speakername {

    font-family: "Fira Sans";
    display: inline;
    text-align: left;
    font-size: 12px;
    /* margin-left: 20%; */
    /* margin-right: 10px; */
}


.selected {
    color: blue;
    font-weight: bold;
}

.transcriptcontent {
    text-align: left;
    margin:0;
    padding: 0;
}

.transcriptbutton{

    font-family: "Fira Sans";
    /* text-transform: uppercase; */
    font-size: 1rem;
    /* font-weight: 900; */
    margin: 5px;
    margin-bottom: 30px;
}

#transcriptquotes{
    font-family: "Roboto";
    /* margin-left: 2%; */
}

#personbio{
    text-align: justify;
    width: 90%
}

#transcriptpic{
    max-width: 180px;
    overflow: hidden;
}

.ohpersonrow{
    margin-bottom: 30px;
}

.initials{
    color: purple;
    font-size: 65px;
}

.initialdiv {
    height: 100px;
    vertical-align: middle;
    font-size: 20px;
}