.import1 {
    font-size: 24px;
    font-style: italic;
    color: red;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    width: auto;    
}

h2 {
    text-align: left;
}


.active {
    color: blue;
}
p {
    text-align: left;
}

