.Jumbotron{
  background-color: transparent !important;
}

.bar {
  fill: #63053d;
z-index: 30;
}


.description {
background: red;
background-color: rgba(185, 142, 167, 0.5);
padding: 20px;
}

.description h1 {
  font-size: 30px;
}

.description p {
  text-align: left;
}

.mapclass {
  border: 6px solid rgba(185, 142, 167, 0.5);
  background: #DCDCDC;

}

.tablemap {
  border: 6px solid rgba(185, 142, 167, 0.5);
  background: #DCDCDC;

}

map {
    /* width: 300px; */
    /* height: 300px;   */
    background: #E6E6E6;
  }
  
  path {
    fill: steelblue;
  }
  
  .counties{
    stroke: white;
    stroke-width: 1;
  }
  
  .counties:hover {
    fill-opacity: .7;
  }
  
  
   .tooltip {	 
      text-align: center;		
     position: absolute;
     min-width: 100px;
      width: 120px;					
      height: 40px;					
      border: 0px;		
      border-radius: 8px;			
      pointer-events: none;		
     justify-content: center;
  } 
  
  
  .tooltiptext, .name, .value {
    position: relative;
  }

