body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*nav {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  margin-top: 35px;
  color: white;
  width: 100%;
  height: 82px;
  overflow: auto;
  background-color: #5E99D3;
  display:inline-block;
}

.menu{
  
}

*/
